
<ul class="openinghours">
  {% for day, hours in openinghours %}

    <li class="openinghours__day{% if hours.isopen == false -%} openinghours__day--closed {%- endif %}" data-openinghours-day="{{ hours.day_of_week }}">
      {% if hours.itemprop %}<time itemprop="openingHours" datetime="{{ hours.itemprop }}">{% endif %}
        <span class="openinghours__day-title">{{ day|capitalize|t }}</span>
        {% if hours.isopen %}
          <span class="openinghours__day-from">{{ hours.from }}</span>
          {{ 'to'|t }}
          <span class="openinghours__day-to">{{ hours.to }}</span>
        {% else %}
          <span class="openinghours__day-from">{{ 'closed'|t }}</span>
        {% endif %}
      {% if hours.itemprop %}</time>{% endif %}
    </li>

  {% endfor %}
</ul>

